<%= render partial: "nav" %>

<h1>Student Information:</h1>

<%= @student.name %>

<br>

<% @student.addresses.each do |address| %>
  <%= address.description %>
  <%= address.street_address %>,
  <%= address.city %>,
  <%= address.state %>
  <%= address.zip_code %>
<% end %>

<%= link_to 'Edit Student', edit_student_path(@student) %>
